/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

.tooltip .tooltip-inner {
  width: 100%;
  max-width: 450px !important;
  max-height: 450px !important;
  height: auto;
  display: block;
}

.rt-td {
  padding: 0 0.9375rem;
  height: auto;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
}

.rt-th {
  height: 40px;
  line-height: 40px;
  padding: 0 0.9375rem;
  font-weight: 700;
  text-align: left;
  border: none;
  white-space: nowrap;
  overflow: hidden;
}

.rt-tbody {
  //	display: inline-block;
  //	max-height: 75vh;
  //	overflow-y: scroll;
  min-height: 30vh;
}

table> :not(caption)>*>* {
  padding: 2px 15px !important;
}

.paginate-relative {
  position: fixed;
  right: 40px;
  bottom: 10px;
}

.table-card {
  min-height: 25vh;
  max-height: 85vh;
}

.gly-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
  }
}

@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }

  100% {
    -o-transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.gly-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}